In [3]:
import pandas as pd
import numpy as np

In [26]:
#importing average annual unemployment rates by state 1980-2018 (Bureau of Labor & Statistics)
# https://www.icip.iastate.edu/tables/employment/unemployment-states

bls = pd.read_excel('emp-unemployment.xls', sheet_name='States', skiprows=5)

In [27]:
bls = bls.dropna(subset='Area')
bls = bls.drop(labels='Fips', axis=1)
bls = bls.loc[bls['Area'] != 'District of Columbia']
bls['Area'] = np.where(bls['Area'] == 'United States','U.S.',bls['Area'])
bls = bls.rename(columns={'Area':'state'})
bls = bls.melt(id_vars=['state'], var_name=['fy'], value_name='unemployment')
bls

              state    fy  unemployment
0              U.S.  1980           7.1
1           Alabama  1980           8.9
2            Alaska  1980           9.6
3           Arizona  1980           6.6
4          Arkansas  1980           7.6
...             ...   ...           ...
1984       Virginia  2018           3.0
1985     Washington  2018           4.5
1986  West Virginia  2018           5.3
1987      Wisconsin  2018           3.0
1988        Wyoming  2018           4.1

[1989 rows x 3 columns]

In [28]:
bls.to_csv('unemployment.csv')